{% extends 'base.html.twig' %}

{% block body %}
    <h1>Something gone wrong</h1>

    <div class="alert-info">
        <p>
            I am afraid it is error!
        </p>
    </div>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}