/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
        url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
        url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
        url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: arial , Helvetica ,sans-serif;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

table{
    font-size: 15px;
}

breadcrumps-container,
h3{
    font-size: 24px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: 0;
}

select::-moz-focus-inner {
    border: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #6F6F6F;
}


h3{
    margin-top: 10.5px;
}

.navbar{
    margin-bottom: 10.5px;
}

.top-navbar-text{
    color: white;
}

.nav-bar-logout-container a.nav-bar-logout{
    display: inline-block;
}

.glyphicon-log-out.glyphicon-white{
    padding: 0 7px;
}

.glyphicon-white{
    color: white;
}

.navbar-additional-pills{
    float:left;
    display: inline-block;
    margin-left: 7px;
}

.navbar-additional-pills ul li{
    background-color: #3d3d3d;
    margin-left: 2px;
}

.dashboard-tasks-container {
    margin-left: -9px;
    margin-right: -9px;
}

.task-group-container-wrapper{
    padding: 8px;
}

.task-group-container{

    height: 100vh;
    max-height: 100vh;
    //overflow-y: scroll;
    background: repeating-linear-gradient(
        -55deg,
        #444,
        #444 10px,
        #555 10px,
        #555 20px
        );

    -webkit-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.92);
    -moz-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.92);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.92);

    border: 1px solid #3d3d3d;
    border-radius: 2px;
}

a#archive-project{
    cursor: pointer;   
}

.task-group-header{
    padding: 0 7px 2px 7px;
    color: #fff;
    display: block;
    font-size: 15px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    background: rgba(148,148,148,1);
    background: -moz-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,61,61,1) 53%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(148,148,148,1)), color-stop(53%, rgba(61,61,61,1)), color-stop(100%, rgba(51,51,51,1)));
    background: -webkit-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,61,61,1) 53%, rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,61,61,1) 53%, rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(148,148,148,1) 0%, rgba(61,61,61,1) 53%, rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom, rgba(148,148,148,1) 0%, rgba(61,61,61,1) 53%, rgba(51,51,51,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#333333', GradientType=0 );
}

.task-link-name{
    color: #333;
}

.task-link-name:hover,
.task-link-name:focus{
    color: #3d3d3d;
}

.child-tasks-container > .task-container{
   // padding: 0px 0px 0px 5px ;
}

.task-container{
    padding: 0 5px 5px 5px;
    position: relative;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.60);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.60);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.60);


    border-top: 1px solid whitesmoke;
}


.task-container:last-child{
    margin-bottom: 0;
}

.edit-task-icon{
    font-size: 13px;
    position: absolute;
    left: -1px;
    top: 5px;
    color: #333;
}

.parent-task{
    position: absolute;
    left: 0px;
    height: 100%;
    background-color: #555;
    z-index: 100;
    width: 4px;
}

.parent-task-toggle-children{
    cursor: pointer;
}

.child-task{
    position: absolute;
    left: 0px;
    height: 100%;
    z-index: 100;
    width: 4px;
    background: repeating-linear-gradient(
        60deg, 
        #999, 
        #999 5px,
        #555 5px,
        #555 10px
        );
    border-right: 1px solid #333;
    background-size:5px 200px;
}

.no-tasks-container{
    min-height: 50px;
    line-height: 50px;
    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
        );
}

.no-sprints-container{
    min-height: 50px;
    line-height: 50px;
    background: repeating-linear-gradient(
        -55deg,
        #444,
        #444 10px,
        #555 10px,
        #555 20px
        );
}

.task-subtask-link-container{
    margin-top: 5px;
    margin-left: -17px;
}

.task-subtask-link-container a{
    color: #333;
}

.task-subtask-link-container .glyphicon-triangle-bottom{
    vertical-align: text-top;
}

.alert-warning {
    border-color: rgba(223, 181, 108, 0.6);
    color: #826430;
    background-color: rgba(239, 225, 179, 0.6);
    border-radius: 2px;
}

.alert-success {
    border-color: #8AC38B;
    color: #356635;
    background-color: #CDE0C4;
}

.alert-info {
    border-color: #9CB4C5;
    color: #305D8C;
    background-color: #D6DDE7;
}



/*  
.alert-warning {
    border-color: #DFB56C;
    color: #826430;
    background-color: #EFE1B3;
}

.alert-success {
    border-color: #8AC38B;
    color: #356635;
    background-color: #CDE0C4;
}

.alert-info {
    border-color: #9CB4C5;
    color: #305D8C;
    background-color: #D6DDE7;
}

.alert-danger {
    border-color: #953B39;
    color: #FFF;
    background-color: #C26565;
    text-shadow: none;
}

.jarviswidget-color-blueDark > header {
    border-color: #45474B !important;
    background: none repeat scroll 0% 0% #4C4F53;
    color: #FFF;
}


.btn-primary {
    color: #FFF;
    background-color: #3276B1;
    border-color: #2C699D;
}
.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary{
        color:#fff;
        background-color:#275b89;
        border-color:#1f496d
}
.btn-success {
    color: #FFF;
    background-color: #739E73;
    border-color: #659265;
}
.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.dropdown-toggle.btn-success{
        color:#fff;
        background-color:#5b835b;
        border-color:#4c6e4c
}
.btn-info {
    color: #FFF;
    background-color: #57889C;
    border-color: #4E7A8C;
}
.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info{
        color:#fff;
        background-color:#456b7b;
        border-color:#385764
}
.btn-warning {
    color: #FFF;
    background-color: #C79121;
    border-color: #B1811D;
}
.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.dropdown-toggle.btn-warning{
        color:#fff;
        background-color:#9b711a;
        border-color:#7d5b15
}
.btn-danger {
    color: #FFF;
    background-color: #A90329;
    border-color: #900323;
}
.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger{
        color:#fff;
        background-color:#77021d;
        border-color:#540114
}

*/


.important-task-container {
    background-color: #f3f3d1;
    border-bottom: 1px solid #E6E6D1;
}

.done-task-container {
    background-color: #daebcf;
    border-bottom: 1px solid  #CBDBC1;
}

.simple-task-container {
    background-color: #e4eff8;
    border-bottom: 1px solid #CED8E0;
}


.simple-button{
    border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; 
    padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #3276B1;
    border-color: #2C699D;
}

.simple-button.active,
.simple-button:active,
.simple-button:focus,
.simple-button:hover,
.open>.dropdown-toggle.simple-button{
    color:#fff;
    background-color:#275b89;
    border-color:#1f496d
}

.finish-button{
    border:1px solid #495267; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; 
    padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #57889C;
    border-color: #4E7A8C;

}

.finish-button.active,
.finish-button:active,
.finish-button:focus,
.finish-button:hover,
.open>.dropdown-toggle.finish-button{
    color:#fff;
    background-color:#456b7b;
    border-color:#385764
}

.success-button{
    border:1px solid #377613; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; 
    padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #739E73;
    border-color: #659265;
}

.success-button.active,
.success-button:active,
.success-button:focus,
.success-button:hover,
.open>.dropdown-toggle.success-button{
    color:#fff;
    background-color:#5b835b;
    border-color:#4c6e4c
}

.alert-button{
    border:1px solid #8f1919; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; 
    padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
    background-color: #A90329;
    border-color: #900323;
}

.alert-button.active,
.alert-button:active,
.alert-button:focus,
.alert-button:hover,
.open>.dropdown-toggle.alert-button{
    color:#fff;
    background-color:#77021d;
    border-color:#540114
}

.simple-button,
.success-button,
.alert-button,
.finish-button{
    padding: 4px 8px;
    min-width: 80px;
}

.custom-modal{
    border-radius: 4px;
    top: 25%;
}

.custom-modal .modal-dialog{
    width: 40%;
}

.custom-modal .modal-content{
    border-radius: 4px;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-header{
    background: none repeat scroll 0% 0% #EFEFEF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.modal-footer{
    background: none repeat scroll 0% 0% #EFEFEF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

table.full-task-view tr td{
    line-height: 2em;
    padding: 5px;

}


table.full-task-view tr td:first-child{
    text-align: right;
    width: 16%;
}

.task-inline-glyphicons{
    display:inline;
    padding: 5px;
}

.task-bottom-buttons-separator{
    margin-top: 5px;
}

.glyphicon-muted{
    color: #666;
}

.glyphicon-related-text{
    padding-right: 5px;
}

.full-task-subtask-element-header{
    border-color: #45474B !important;
    background: none repeat scroll 0% 0% #4C4F53;
    color: #FFF;
}
.full-task-subtask-container .task-full-container{
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.full-task-subtask-container .full-task-button-container{
    width: 100%;
}