{% extends 'base.html.twig' %}

{% block title %}
    {{ project.Name }}
{% endblock %}

{% block breadcrumps %}
    <h3>Редактирование {{ project.Name }}</h3>
{% endblock %}

{% block content %}
    <div class="row"><div class="col-xs-6">
            <form action="{{ path('project_edit',{'id':project.Id}) }}" method="post">

                {{ form_widget(form) }}

            </form>
        </div>
    </div>      
{% endblock %}