{% extends 'base.html.twig' %}

{% block title %}
    Новая задача
{% endblock %}

{% block breadcrumps %}
    <h3>
        <a href="{{ path('project_show',{'id':project.Id}) }}">{{ project.Name }}</a>
        &mdash;
        Новая задача
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form action="{{ path("task_create",{'project_id':project.id}) }}" method="post">

                {{ form_widget(form) }}

            </form>
        </div>
    </div>
{% endblock %}